<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/mine.css">
		<link rel="stylesheet" href="../css/feedback-page.css" />
	</head>

	<body class="mui-fullscreen">
		<!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<!--页面主结构结束-->
		<!--单页面开始-->
		<div id="setting" class="mui-page">

			<!--页面标题栏开始-->
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<h1 class="mui-center mui-title">我的</h1>
			</div>
			<!--页面标题栏结束-->
			<!--页面主内容区开始-->
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="user-top">
							<div class="user-info">
								<div class="user-nick"><span id="userInfo_userNameId">登陆名称</span></div>
								<div class="user-rank mui-h5"><span id="userInfo_userNameNick">姓名</span></div>
								<div class="user-level mui-h5"><span id="userInfo_userTypeId">角色</span></div>
							</div>
							<div class="user-avatar">
								<img src="../images/user.png" id="userInfo_userIcon" />
							</div>
						</div>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="#recommendToDo" class="mui-navigate-right">待办</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="#recommendDoing" class="mui-navigate-right">在办</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="#recommendDone" class="mui-navigate-right">已办</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="#phonebook" class="mui-navigate-right">通讯录</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="#feedback" class="mui-navigate-right">问题反馈</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="#about" class="mui-navigate-right">关于团家宝经纪人 <i class="mui-pull-right update">V0.9.9</i></a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" style="text-align: center;">
								<a id='exit'>退出</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--页面主内容区结束-->
		</div>
		<!--单页面结束-->
		<!--报备待办信息页面-->
		<div id="recommendToDo" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">待办</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="recommendToDoTable">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--报备在办信息页面-->
		<div id="recommendDoing" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">在办</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="recommendDoingTable">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--报备已办信息页面-->
		<div id="recommendDone" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">已办</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="recommendDoneTable">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--推荐信息详情页面-->
		<div id="recommendDetail" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>报备信息
				</button>
				<h1 class="mui-center mui-title">客户详情</h1>
			</div>
			<div id="recommendInfo" class="mui-page-content">
			</div>
		</div>
		<!--通讯录页面-->
		<div id="phonebook" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">通讯录</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="phonebookList">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--
    	作者：gadrel@163.com
    	时间：2016-04-26
    	描述：关于
    -->
		<div id="about" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">关于团家宝经纪人</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<p>关于团家宝经纪人</p>
						团家宝经纪人APP是专门为经纪人介绍楼盘、快速报备和跟踪管理使用，同时提供通讯录以方便联系驻场专员等功能。
						<p>APP使用帮助</p>
	<ul>	
		<h1>业务员</h1>
    	<b>(申）推荐申报（业务员）</b>
        <li>打开手机APP，使用自己账号登陆（手机号码+密码），登陆成功默认进入楼盘列表页面</li>
        <li>选择需要推荐的楼盘，进入楼盘详情页面</li>
        <li>在详情页面右下角点击“立即推荐”按钮</li>
        <li>在推荐页面填写 客户名称、客户电话和详情。（城市、楼盘和推荐人自动带入）</li>
        <li>填写完成之后，点击推荐按钮即可</li>
        
    <b>（来） 客户到现场（业务员）</b>
        <li>登陆手机APP，进入“我”页面</li>
        <li>点击“报备待办信息”，出现待办报备信息列表页面；</li>
        <li>在每条列表中的右边有一个“来”字样的按钮；</li>
        <li>点击“来”按钮即可完成操作；</li>
        <li>在“报备已办信息”列表页面可以查看自己所有已经办理的报备列表；</li>
        <h1>驻场专员</h1>
    <b>（筹、订、购、报备确认）报备确认（驻场专员）</b>
        <li>登陆手机APP，进入“我”页面</li>
        <li>点击“报备待办信息”，出现待办报备信息列表页面；</li>
        <li>在每条列表中的右边有一个“来”字样的按钮；</li>
        <li>点击“来”按钮即可完成操作；</li>
        <li>在“报备已办信息”列表页面可以查看自己所有已经办理的报备列表；</li>
</ul>
						
					</div>
				</div>
			</div>
		</div>
		<!--
        	作者：gadrel@163.com
        	时间：2016-04-26
        	描述：问题反馈
        -->
		<div id="feedback" class="mui-page feedback">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>我的
				</button>
				<h1 class="mui-center mui-title">问题反馈</h1>
			</div>
			<div class="mui-page-content">
				<p>问题和意见</p>
				<div class="row mui-input-row">
					<textarea id='question' class="mui-input-clear question" placeholder="请详细描述你的问题和意见..."></textarea>
				</div>
				<p>图片(选填,提供问题截图)</p>
				<div id='image-list' class="row image-list">
				</div>
				<p>QQ/邮箱</p>
				<div class="mui-input-row">
					<input id='contact' type="text" class="mui-input-clear  contact" placeholder="(选填,方便我们联系你 )" />
				</div>
				
				<button id='submit' type="button" class="mui-btn mui-btn-green">提交</button>
				<div>
				联系客服：<br>	
				电话：150 0519 6684		&nbsp;&nbsp;QQ  ：2960 7839
				</div>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/mui.view.js "></script>
	<script src="../js/app.js"></script>
	<script src="../js/app.mine.js"></script>
	<script src="../js/feedback-page.js"></script>
	<script src="../js/template.js"></script>
	<!--
    	作者：gadrel@163.com
    	时间：2016-04-29
    	描述：通讯录模版
    -->
	<script id="tmpl_phonebook" type="text/html">
		{{if success}} {{each rows}}
		<li class="mui-table-view-cell mui-media">
			<a href="javascript:;">
				<img class="mui-media-object mui-pull-left" src="../images/usercard.png">
				<div class="mui-media-body">
					{{$value.nick}}<span class="mui-h5">{{$value.tel}}</span>
					<p class='mui-ellipsis'>{{$value.groupTypeTitle}}【{{$value.brokingFirm}}{{$value.building}}】</p>
				</div>
				<a href="tel:{{$value.tel}}" class="mui-btn mui-icon mui-icon-phone" style="font-size: 28px;color: blue;font-weight: bolder;"></a>
			</a>
		</li>
		{{/each}} {{else}}
		<li class="mui-table-view-cell">获取通讯录数据失败</li>
		{{/if}}
	</script>
	<script id="tmpl_recommendInfo" type="text/html">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						客户姓名
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{customerName}}
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						联系电话
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						<a href="tel:{{customerTel}}">{{customerTel}}</a>
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						意向城市
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{cityName}}
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						意向楼盘
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{buildingName}}
					</div>
				</div>
			</li>
			<!--
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						看房日期
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{customerPresentDate}}
					</div>
				</div>
			</li>
			-->
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						推荐人
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{refreeNick}}（{{refreeName}}）</p>
						【{{refreeExtend}}】
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						详情
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{each remark}}
						{{$value}}</p>
						{{/each}}
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						状态
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{statusTitle}}
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class=" mui-table ">
					<div class="mui-table-cell mui-col-xs-4">
						意见
					</div>
					<div class="mui-table-cell mui-col-xs-8">
						{{each recommendConfirmAdvice}}
						{{$value}}</p>
						{{/each}}
					</div>
				</div>
			</li>
			
			
				<li>
					<div class=" mui-table ">
						<div class="mui-table-cell mui-col-xs-4">
							<center>
								{{if statusTitle != '报备已确认' }}
									<button id='appendRemarkId' type="button" class="mui-btn mui-btn-green" onclick="app.recommendAppendRemark('{{recommendId}}',app.recommendAppendRemarkCallback)">追加详情</button>
								{{/if}}
							</center>
						</div>
						<div class="mui-table-cell mui-col-xs-8">
							<center>
								{{if buildingTel}}
									<a type="button" id="id_propertyTel" class="mui-btn mui-btn-primary" href="tel:{{buildingTel}}">
										<span class="mui-icon mui-icon-phone"></span>案场电话
									</a>
								{{else}}
									<a type="button" id="id_propertyTel" class="mui-btn mui-btn-primary" href="#buildingTelPopover">
										<span class="mui-icon mui-icon-phone"></span>案场电话
									</a>
								{{/if}}
								
								{{if buildingCommissioner}}
									<a type="button" id="id_commissionerTel" class="mui-btn mui-btn-primary" href="tel:{{buildingCommissioner}}">
										<span class="mui-icon mui-icon-phone"></span>驻场专员
									</a>
								{{else}}
									<a type="button" id="id_commissionerTel" class="mui-btn mui-btn-primary" href="#commissionerTelPopover">
										<span class="mui-icon mui-icon-phone"></span>驻场专员
									</a>
								{{/if}}
								
							</center>
						</div>
					</div>
				</li>
		</ul>
		<div id="buildingTelPopover" class="mui-popover">
			<ul class="mui-table-view">
				{{each buildingTels}}
				<li class="mui-table-view-cell"><a href="tel:{{$value}}">{{$value}}</a></li>
				{{/each}}
			</ul>
		</div>
		<div id="commissionerTelPopover" class="mui-popover">
			<ul class="mui-table-view">
				{{each buildingCommissioners}}
				<li class="mui-table-view-cell"><a href="tel:{{$value.tel}}">{{$value.nick}}({{$value.tel}})</a></li>
				{{/each}}
			</ul>
		</div>
	</script>
	<script type="text/javascript" charset="utf-8">
		(function(mui, doc) {
			//mui初始化
			mui.init();
			mui.plusReady(function() {
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
			});
			// 初始化单页view
			var viewApi = mui('#app').view({
				defaultPage: '#setting'
			});
			//初始化单页的区域滚动
			mui('.mui-scroll-wrapper').scroll();
			var view = viewApi.view;
			var state = {};
			var user = {};
			var userGroup = {};
			var userModel = {};
			// 在该方法内添加页面第一次被打开时需要执行的方法
			app.initPage = function() {
				state = app.getState() || {};
				user = state.user || {};
				userGroup = state.userGroup || {};
				userModel = state.userModel || {};
				console.log("userModel:" + userModel);
				console.log("userModel.groupType:" + userModel.groupType);
				console.log("userModel.groupTypeTitle:" + userModel.groupTypeTitle);
				console.log("userModel.brokingFirm:" + userModel.brokingFirm);
				console.log("userModel.building:" + userModel.building);
				var userRoleTitle = "";
				var userExtend = "";
				if (userModel.groupType == 'brokingFirm'){
					if (userModel.brokingFirm){
						userExtend = userModel.brokingFirm;
					} else {
						userExtend = "未配置经纪公司";
					}
				} else if (userModel.groupType == 'salesman'){
					if (userModel.brokingFirm){
						userExtend = userModel.brokingFirm;
					} else {
						userExtend = "未配置经纪公司";
					}
				} else if (userModel.groupType == 'commissioner'){
					if (userModel.building){
						userExtend = userModel.building;
					} else {
						userExtend = "未配置楼盘";
					}
				}
				userRoleTitle = userModel.groupTypeTitle + "【" + userExtend + "】";
				console.log("userRoleTitle:" + userRoleTitle);
				document.getElementById('userInfo_userNameId').innerHTML = user.userName;
				document.getElementById('userInfo_userNameNick').innerHTML = user.loginName;
				document.getElementById('userInfo_userTypeId').innerHTML = userRoleTitle;
				document.getElementById('userInfo_userIcon').src = app.conf.host + "/api/avatar/" + user.userId + ".png";
				//处理view的后退与webview后退
				var oldBack = mui.back;
				mui.back = function() {
					if (viewApi.canBack()) { //如果view可以后退，则执行view的后退
						viewApi.back();
					} else { //执行webview后退
						oldBack();
					}
				};
				//通过view元素监听所有页面切换事件，目前提供pageBeforeShow|pageShow|pageBeforeBack|pageBack四种事件(before事件为动画开始前触发)
				//第一个参数为事件名称，第二个参数为事件回调，其中e.detail.page为当前页面的html对象
				view.addEventListener('pageShow', function(e) {
					var page = e.detail.page;
					var pageId = page.id;
					var hashParams = page.hashParams;
					setTimeout(function() {
						if (pageId == "recommendToDo") {
							loadTODO();
						} else if (pageId == "recommendDoing"){
							loadDoing();
						} else if (pageId == "recommendDone") {
							loadDone();
						} else if (pageId == "phonebook") {
							loadPhonebook();
						} else if (pageId == "recommendDetail") {
							loadRecommendInfo(hashParams[1]);
						}
					}, 0);
				});
			};
			var getConfirmStatusName = function(currentStatus){
				switch (currentStatus) {
					case 'present':
						return "筹";
					case 'pledges':
						return "订";
					case 'order':
						return "结";
					case 'buy':
						return "报备确认";
					default:
						return "未知";
				}
			}
			// 加载报备待办信息
			function loadTODO() {
				var userGroupType = userGroup.type;
				var recommendToDoTable = document.getElementById('recommendToDoTable');
				
				//先删除表格中所有行
				if (userGroupType) {
					//recommendToDoTable.innerHTML = '<li class="mui-table-view-cell">正在加载数据，请稍候...</li>';
					//加载报备数据（经纪人）
					if ("salesman" == userGroupType) {
						var waiting = null;
						if (recommendToDoTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						app.waitingPresent(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								//html.push('<button type="button" class="mui-btn mui-btn-primary" onclick="app.customerPresent(\'', recommend.recommendId, '\' ,app.customerPresentCallback)">来</button>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendToDoTable.innerHTML = html.join('');
							} else {
								recommendToDoTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					} else if ("commissioner" == userGroupType) {
						var waiting = null;
						if (recommendToDoTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						app.waitingCome(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								flag = true;
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								console.log("status:" + recommend.status);
								html.push('<button type="button" class="mui-btn mui-btn-primary" onclick="app.customerPresent(\'', recommend.recommendId, '\' ,app.customerPresentCallback)">来</button>');
								//var confirmName = getConfirmStatusName(recommend.status);
								//console.log("confirmName:" + confirmName);
								//html.push('<button type="button" class="mui-btn mui-btn-primary" onclick="app.recommendConfirm(\'', recommend.recommendId, '\' ,app.recommendConfirmCallback)">' + confirmName + '</button>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendToDoTable.innerHTML = html.join('');
							} else {
								recommendToDoTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					}else if("channelManager"==userGroupType){
						 	//判断为渠道经理
							var waiting = null;
							if (recommendToDoTable.innerHTML.length < 100) {
								waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
							}
							app.waitingConfirm(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								flag = true;
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								console.log("status:" + recommend.status);
								var confirmName = getConfirmStatusName(recommend.status);
								console.log("confirmName:" + confirmName);
								html.push('<button type="button" class="mui-btn mui-btn-primary" onclick="app.recommendConfirm(\'', recommend.recommendId, '\' ,app.recommendConfirmCallback)">' + confirmName + '</button>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendToDoTable.innerHTML = html.join('');
							} else {
								recommendToDoTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
							});
					}
				} else {
					//用户组为空，到服务器获取一次
					recommendToDoTable.innerHTML = '<li class="mui-table-view-cell">未能获得用户权限，请重新登录</li>';
				}
			}
			//已经处理过程的报备信息列表
			function loadDoing() {
				console.log("加载在办列表")
				var userGroupType = userGroup.type;
				var recommendDoingTable = document.getElementById('recommendDoingTable');
				//先删除表格中所有行
				//recommendDoingTable.innerHTML = '<li class="mui-table-view-cell">正在加载数据，请稍候...</li>';
				if (userGroupType) {
					if ("salesman" == userGroupType) {
						console.log("加载业务员数据")
						var waiting = null;
						if (recommendDoingTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（经纪人）
						app.getMyPresentDoing(function(data) {
							console.log("业务员在办数据获取完毕，加载页面");
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoingTable.innerHTML = html.join('');
							} else {
								recommendDoingTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					} else if ("commissioner" == userGroupType) {
						var waiting = null;
						if (recommendDoingTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（经纪人）
						app.getMyWaitingComeDoing(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoingTable.innerHTML = html.join('');
							} else {
								recommendDoingTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					}else if("channelManager"==userGroupType){
						var waiting = null;
						if (recommendDoingTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（渠道经理）
						 //加载报备数据（经纪人）
						app.getMyConfirmDoing(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoingTable.innerHTML = html.join('');
							} else {
								recommendDoingTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					}
				} else {
					//用户组为空，到服务器获取一次
					recommendDoingTable.innerHTML = '<li class="mui-table-view-cell">未能获得用户权限，请重新登录</li>';
				}
			}
			//已经处理过程的报备信息列表
			function loadDone() {
				var userGroupType = userGroup.type;
				var recommendDoneTable = document.getElementById('recommendDoneTable');
				//先删除表格中所有行
				//recommendDoneTable.innerHTML = '<li class="mui-table-view-cell">正在加载数据，请稍候...</li>';
				if (userGroupType) {
					if ("salesman" == userGroupType) {
						var waiting = null;
						if (recommendDoneTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（经纪人）
						app.getMyPresentDone(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoneTable.innerHTML = html.join('');
							} else {
								recommendDoneTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					} else if ("commissioner" == userGroupType) {
						var waiting = null;
						if (recommendDoneTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（经纪人）
						app.getMyWaitingComeDone(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoneTable.innerHTML = html.join('');
							} else {
								recommendDoneTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					}else if("channelManager"==userGroupType){
						var waiting = null;
						if (recommendDoneTable.innerHTML.length < 100) {
							waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
						}
						//加载报备数据（渠道经理）
						app.getMyConfirmDone(function(data) {
							if (waiting && waiting.close) {
								waiting.close();
							}
							var html = [];
							for (temp in data) {
								var recommend = data[temp];
								html.push('<li class="mui-table-view-cell">');
								html.push('<div class="mui-table">');
								html.push('<div class="mui-table-cell mui-col-xs-4 mui-ellipsis">');
								html.push('<a href="#recommendDetail/', recommend.recommendId, '" >', recommend.customerName, '</a>');
								html.push('</div>');
								html.push('<div class="mui-table-cell mui-col-xs-8 mui-ellipsis">');
								html.push('<a href="tel:', recommend.customerTel, '"><span class="mui-icon mui-icon-phone"></span>', recommend.customerTel, '</a>');
								html.push('</div>');
								html.push('</div>');
								html.push('<span class="mui-badge mui-badge-success">', app.getRecommendStatusName(recommend.status), '</span>');
								html.push('</li>');
							}
							if (html.length > 10) {
								recommendDoneTable.innerHTML = html.join('');
							} else {
								recommendDoneTable.innerHTML = '<li class="mui-table-view-cell">暂无数据</li>';
							}
						});
					}
				} else {
					//用户组为空，到服务器获取一次
					recommendDoneTable.innerHTML = '<li class="mui-table-view-cell">未能获得用户权限，请重新登录</li>';
				}
			}
			// 推荐详情
			function loadRecommendInfo(recommendId) {
				var recommendInfo = document.getElementById('recommendInfo');
				app.getRecommendDetail(recommendId, function(data) {
					if (data.success) {
						//处理意见信息
						var recommendConfirmAdvice = data.result.recommendConfirmAdvice;
						if (recommendConfirmAdvice){
							recommendConfirmAdvice = recommendConfirmAdvice.split("\n\r");
							data.result.recommendConfirmAdvice = recommendConfirmAdvice;
						} else {
							data.result.recommendConfirmAdvice = new Array();
						}
						//处理详情信息
						var remark = data.result.remark;
						if (remark){
							remark = remark.split("\n\r");
							data.result.remark = remark;
						} else {
							data.result.remark = new Array();
						}
						//处理案场电话信息
						var buildingTels = data.result.buildingTels;
						console.log("案场电话数量:" + buildingTels.length);
						if (buildingTels.length == 1){
							data.result.buildingTel = buildingTels[0];
						}
						//处理案场专员列表
						console.log("驻场专员数量:" + data.result.buildingCommissioners.length);
						if (data.result.buildingCommissioners.length == 1){
							data.result.buildingCommissioner = data.result.buildingCommissioners[0].tel;
						}
						var html = template('tmpl_recommendInfo', data.result);
						recommendInfo.innerHTML = html;
					} else {
						recommendInfo.innerHTML = data.message;
					}
				});
			}
			// 通讯录信息列表
			function loadPhonebook() {
				var phonebookList = document.getElementById('phonebookList');
				var waiting = null;
				if (phonebookList.innerHTML.length < 100) {
					waiting = plus.nativeUI.showWaiting("正在加载，请稍候...");
				}
				app.getMyPhonebook(function(data) {
					if (waiting && waiting.close) {
						waiting.close();
					}
					console.log("通讯录:" + data);
					for (o in data){
						console.log("属性:" + o + ":" + data[o]);
					}
					console.log("total:" + data.total);
					console.log("rows:" + data.rows);
					console.log("rows.length:" + data.rows.length);
					console.log("tel:" + data.rows[0].tel);
					var html = template('tmpl_phonebook', data);
					phonebookList.innerHTML = html;
				});
			}
			//加载报备确认数据（驻场专员）
			//退出操作******************
			document.getElementById('exit').addEventListener('tap', function() {
				if (mui.os.ios) {
					app.setState({});
					//获得主页面的webview
					var main = plus.webview.getWebviewById("main")
					//触发主页面的gohome事件
					mui.fire(main, 'logout');
					return;
				}
				var btnArray = [{
					title: "注销当前账号"
				}, {
					title: "直接关闭应用"
				}];
				plus.nativeUI.actionSheet({
					cancel: "取消",
					buttons: btnArray
				}, function(event) {
					var index = event.index;
					switch (index) {
						case 1:
							app.setState({});
							//获得主页面的webview
							var main = plus.webview.getWebviewById("main")
								//触发主页面的gohome事件
							mui.fire(main, 'logout');
							break;
						case 2:
							plus.runtime.quit();
							break;
					}
				});
			}, false);
		}(mui, document));
	</script>

</html>